.page {
  max-width: $main-content-width;
  margin: 0 auto;
  padding: $gutter;
  margin-top: 6 * $gutter;
  background: #ECECEC;
  border: 1px solid #ccc;
  -webkit-box-shadow:0 0 10px #CCC;  
  -moz-box-shadow:0 0 10px #CCC;  
  box-shadow:0 0 10px #CCC;
  line-height: $article-line-height;

  h1, h2 {
    border-bottom: 1px solid #eee;
    margin-top: 2.5rem;
    padding-bottom: .3rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  a {
    color: $anchor-color;
  }

  li {
    margin-left: $gutter;
  }
}
