<main class="post">
  <%- partial('_partial/article', {post: page}) %>
  <%- partial('_widget/sharing') %>

  <% if (theme.duoshuo_shortname) { %>
    <%- partial('_widget/duoshuo') %>
  <% } %>
</main>
